// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap "bootstrap-sass": "^3.3.7",
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/bootstrap.min.css";
@import "vendor/font-awesome.min.css";
@import "vendor/animate.min.css";
@import "vendor/simple-line-icons.min.css";
@import "vendor/owl.carousel.min.css";
@import "vendor/owl.theme.default.min.css";
@import "vendor/magnific-popup.min.css";
// Theme CSS
@import "theme/theme.css";
@import "theme/theme-elements.css";
@import "theme/theme-blog.css";
//Skin CSS
@import "theme/default.css";

/* topic-index-paginate */
.register-page .tabs {
  .nav-tabs {
    border-bottom: 0px;
  }
 .active a {
    background-color: #fcfcfc;
  }
}

.register-page .tab-content {
  background-color: #fcfcfc;
  border:1px #ddd solid;
  //border-top-left-radius: 20px; //左上角
  border-top-right-radius: 20px; //右上角
  border-bottom-left-radius: 20px; //右下角
  border-bottom-right-radius: 20px;
}




